server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: inventory-service
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
