server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
  endpoint:
    prometheus:
      enabled: true

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: order-validator
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
